In [1]:
import tensorflow as tf
import pandas as pd
from tensorflow import keras

data = pd.read_csv('/home/shambhavi/Downloads/diabetes(2).csv')

data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [2]:
X_train = data.iloc[0:600,0:8]
print(X_train.shape)
X_train.head()

(600, 8)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [3]:
Y_train = data.iloc[0:600,8]
print(Y_train.shape)
Y_train.head()

(600,)

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [4]:
X_test = data.iloc[600::,0:8]
print(X_test.shape)
X_test.head()

(168, 8)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
600,1,108,88,19,0,27.1,0.400,24
601,6,96,0,0,0,23.7,0.190,28
602,1,124,74,36,0,27.8,0.100,30
603,7,150,78,29,126,35.2,0.692,54
604,4,183,0,0,0,28.4,0.212,36

In [5]:
Y_test = data.iloc[600::,8]
print(Y_test.shape)
Y_test.head()

(168,)

600    0
601    0
602    0
603    1
604    1
Name: Outcome, dtype: int64

In [6]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [7]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [22]:
L1=20
L2=25
L3=10
model = tf.keras.Sequential()
model.add(tf.keras.layers.Dense(L1,input_shape=(X_train.shape[1],),kernel_regularizer='l2', activation='relu'))
model.add(tf.keras.layers.Dense(L2,kernel_regularizer='l2', activation='relu'))
model.add(tf.keras.layers.Dense(L3,kernel_regularizer='l2', activation='relu'))
model.add(tf.keras.layers.Dense(1,kernel_regularizer='l2', activation='sigmoid'))
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [23]:
epoch = 1000
history = model.fit(X_train,Y_train,epochs=epoch,batch_size=32,verbose=0)
preds = model.evaluate(x=X_test, y=Y_test)
print ("Loss = " + str(preds[0]))
print ("Test Accuracy = " + str(preds[1]))
print ("Training Accuracy = " + str(history.history['accuracy'][-1]))

6/6 [==============================] - 0s 674us/step - loss: 0.5235 - accuracy: 0.7798
Loss = 0.5234734416007996
Test Accuracy = 0.7797619104385376
Training Accuracy = 0.800000011920929